*{
    margin: 0;
}

.dive{
    width: 100%;
    height: 1594px;
    background-color: #131313;
}

.bmw{
    width: 100%;
    height: 540px;
    opacity: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #131313), url('./framer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.Frame{
    position: relative;
    top: 100px;
}